body{
  background-color: rgba(168, 213, 255, 0.45);
}
.post-img{
  width: 100px;
  position: relative;
  left:450px;
}
img{
  padding: 2%;
}
.box-img{
  display:block;
  margin:auto;
}
code{
  color:#255F7F;
  background-color: #e3e3e3;
}
article{
  margin-top:5%;
  margin-bottom: 10%;
  border:2px solid rgba(128, 128, 128, 0.08);
  background-color: #fdfdfd;
  /*width: 1000px;*/
  /*position: absolute;
  margin: 200px;*/
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
article header{
  padding:25px;
}
article h1{
  font-size: 30px;
  color: #0B1D26;
  margin: 0px;
}
article h2{
  font-size: 15px;
  color: #0B1D26;
  margin: 0px;
  padding-left: 5px;
}
article h3{
  font-size: 12px;
  color: #0B1D26;
  margin: 0px;
  padding-left: 5px;
}
article p{
  font-size: 14px;
}
.blog-text{
  padding:50px;
}
.tab{
  padding-left: 2%;
}
td{
  vertical-align: top;
}
td img{
  max-width: 500px;
}
.centered{
  text-align: center;
  padding: 20px;
}
.sort-img{
  max-height: 350px;
  /*padding-left: 25%;*/
  display:block;
  margin:auto;
}

.snippet{
  color: #255F7F;
  background: none;
}
.external-link{
  color: #255F7F;
  text-transform: lowercase;
  font-size: 14px;
  padding: 0px;
}
