main{
  width: 100%;
}
p{
  text-align: center;
  font-size: 20px;
  color: #255F7F;
  font-weight: bold;
}
.panel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  text-align: center;
  border-radius: 10px;
}
img{
  max-height: 200px;
  display:block;
  margin:auto;
}
.panel-footer{
  background-color: #668fa5;
  color: #ffffff;
  border-radius: 0 0 10px 10px;
}
.panel-footer a{
  text-decoration: none;
  font-size: 13px;
  text-transform: none;
  display:block;
  margin:auto;
}
.panel-footer a:hover{
  color: #255F7F;
}
.container{
  padding: 20px 0;
}
.row{
  padding: 5px;
}
