table{
  width: 100%;
}
table, th, td{
  border: 1px solid #255F7F;
  border-collapse: collapse;
}
.table-title{
  font-size: 22px;
}
th,td{
  padding: 15px;
}
td{
  vertical-align: top;
}
td img{
  max-width: 500px;
}
tr:nth-child(even) {
    background-color: #D1EEEE;
}
tr:nth-child(odd) {
   background-color:#fff;
}
th {
  background-color: black;
  color: white;
  text-align: center;
}

.method{
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.example{
  vertical-align: middle;
  padding: 0 25px;
}
pre code{
  white-space: pre;
  color: #255F7F;
}
.output{
  color: #255F7F;
}