body{
  background-color: #A8D5FF;
  height: 100%;
}
/*ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}*/
.navbar-custom {
    background-color:#255F7F;
    color:#ffffff;
    border: 0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    padding-left:30px;
    padding-right:30px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #184054;
    background-color: transparent;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}
a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 25px 0 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
}
.page-footer{
  bottom:0;
  left:0;
  right: 0;
/*  width:100%;
*/  background-color: #255F7F;
  position: fixed;
  clear: both;
  height: 35px;
  text-align: center;
}
.contact{
  /*position:absolute;
  left: 475px;*/
  padding-top: 5px;
}
.contact-method{
  display: inline;
}
